body {
  font-family: Roboto;
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
  }
.header {
  display: flex;
  justify-content: space-between;
  }
.logo {
  padding: 40px 0;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  }
.logo__circle {
  width: 28px;
  border: 28px;
  border: dashed 1px red;
  }
.menu {
  display: flex;
  align-items: center;
  }

.menu__iten {
  padding: 0 13px;
  border: dashed 1px red;
  }

.menu__iten:last-child {
  padding: 0;
  }
